@font-face {
    font-family: Sora;
    src: url(src/fonts/Sora.ttf);
}

*{
    font-family: Sora;
    color:rgb(255, 255, 255);
    font-size: 17px;
    text-decoration: none;
    text-align: justify;
    overflow-x:auto;

    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color:rgb(24, 15, 15);
}

main h1{
    font-size: 40px;
    text-align: center;
    padding:10px;
    margin:20px;
}
main h2{
    font-size: 25px;
    margin: 10px;
    text-decoration: underline;
}
main p{
    margin-left: 10px;
    margin-right: 10px;
}
main article{
    background-color: rgba(0,0,0,.3);
    padding:3% 10%;
    margin:10% 10%;
}

.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    align-items: center;
    padding: .7% 2%;
    background-color: rgb(13, 6, 6);
}
.navbar ul{
    display: flex;
    padding: 0px ;
    align-items: center;
    list-style-type: none;
}
.navbar li{
    padding:10px;
}
.navbar .logo{
    font-size: 40px;
    font-weight:600;
}
.navbar .navmenu{
    display: flex;
    align-items: center;
}
.navbar a:hover{
    text-decoration: underline;
}

.welcome_bg{
    background-size: cover;
    width: 100%;
    height: 83vh;
    background-image: url(src/images/homepage_background.png);
}
.histoire_bg{
    background-size: cover;
    width: 100%;
    height: 83vh;
    background-image: url(src/images/homepage_background.png);
}
#head a{
    text-decoration:underline;
}

#topbutton{
    border: 1px solid rgb(13, 6, 6);
    position:fixed;
    width:50px;
    height:50px;
    bottom:50px;
    right:50px;
    line-height:50px;
    color: black;
    background-color:grey;
    border-radius: 40%;
    text-align: center;

}

.textBlock{
    width:25vw;
    background-color: rgba(0,0,0,.3);
}

.bannerright aside {
    text-align: end;
    margin-right:5px;
    margin-bottom:5px;
    font-style: italic;
}
#Histoire{
    background-image: url(src/images/histoire_background.png);
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-left:4%;
    margin-left:3%;
    margin-bottom: 3%;
}
#Utilisation{
    background-image: url(src/images/utilisation_background.png);
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-left:4%;
    margin-left:3%;
    margin-bottom: 3%;
}

.bannerleft{
    padding-bottom: 4%;
    padding-top: 4%;
    padding-right:4%;
    padding-left: 70%;
}
.bannerleft aside {
    text-align: end;
    margin-right:5px;
    margin-bottom:5px;
    font-style: italic;
}
#Prise{
    background-image: url(src/images/prise_background.webp);
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-right:4%;
    margin-right:3%;
    margin-bottom: 3%;
}
#Galerie{
    background-image: url(src/images/galerie_background.png);
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-right:4%;
    margin-right:3%;
    margin-bottom: 3%;
}

#content .more:hover{
    text-decoration:underline;
}

.timeline{
    margin-bottom:10vh;
    margin-left:50px;
    margin-right:50px;
    padding: 0 6%;
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-image: url(src/images/histoire_background.png) ;
}
.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 18vw;
    padding:2px;
    margin:10px;
    background-color: rgba(0,0,0,.3);
}
.boxtitle{
    text-align:center;
    text-decoration: underline;
}
.boxtext{
    width:min-content;
    text-align: justify;
    width:80%;
    padding: 5px;
}
.timeline a:hover .box{
    background-color:rgba(0,0,0,.8) ;
}

