@font-face {
    font-family: Sora;
    src: url(src/fonts/Sora.ttf);
}

*{
    font-family: Sora;
    color:rgb(255, 255, 255);
    font-size: 17px;
    text-decoration: none;
    text-align: justify;

    margin: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:rgb(13, 6, 6);
}
header{
    background-size: cover;
    width: 100vw;
    height: 83vh;
    background-image: url(src/images/homepage_background.png);
}
main h1{
    font-size: 40px;
    text-align: center;
    padding:10px;
    margin:20px;
}
main h2{
    font-size: 30px;
    margin: 10px;
    text-decoration: underline;
}
main p{
    margin-left: 10px;
    margin-right: 10px;
}
main div aside {
    margin-left:15%;
    text-decoration: underline;

    font-style: italic;
}

.navbar{
    display: flex;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    align-items: center;
    padding: .7% 2%;
    background-color: rgba(13, 6, 6,.5);
}
.navbar .navpath ol{
    display: flex;
    padding: 0px ;
    align-items: center;
    list-style-type: none;
}
.navbar .navpath li{
    list-style-type:">";
    padding:5px ;
}
.navbar .navpath .subpath{
    display: flex;
    font-size: 16px;
    font-weight:500;
    padding:5px;
}
.navbar .navpath .logo{
    font-size: 40px;
    font-weight:600;
}
.navbar .navmenu{
    display: flex;
    align-items: center;
}
.navbar .navmenu ul{
    display: flex;
    padding: 10px;
    list-style-type: none;
}
.navbar .navmenu li{
    padding: 10px;
}

#verticalarrow{
    font-size: 60px;
    padding:15px;
    writing-mode: vertical-rl;
}

#topbutton{
    position:fixed;
    width:50px;
    height:50px;
    bottom:50px;
    right:50px;
    line-height:50px;
    color: black;
    background-color:grey;
    border-radius: 40%;
    text-align: center;
    writing-mode:sideways-lr;
}

#Histoire{
    background-image: url(src/images/histoire_background.png);
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 4%;
}
#Evolution{
    background-image: url(src/images/evolution_background.png);
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 4%;
}
#Technologie{
    background-image: url(src/images/technologie_background.png);
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 4%;
}
#Galerie{
    background-image: url(src/images/galerie_background.png);
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 4%;
}