@font-face {
    font-family: Sora;
    src: url(src/fonts/Sora.ttf);
}

*{
    font-family:Sora;
    padding:0;
    margin:0;
}

body{
    color:rgb(43, 43, 39);
    background-color:rgb(245, 245, 238);
}

table{
    border-collapse:collapse;
}
p{
    font-size:120%;
    font-weight:400;
    text-align: left;
}

a:hover {
    color: rgb(132, 132, 132);
    background-color: brown;
}

#mainTitle{
    font-size:250%;
    font-weight:600;
    text-align:center;

    padding:1%;
    margin:0px 0px 5px
}

.menuDiv{
    width:auto;
    border-style:hidden;
    margin:0.2% auto;
}

.borders{
    border: 1px solid grey;
}

.aButton{
    text-decoration:none;
    color:rgb(43, 43, 39);
    
    font-size:100%;
    font-weight:500;
    padding:0px 20px;
}

.body{
    width:auto;
}